/*
COLOR SCHEME:
#071E22
#1D7874
#679289
#F4C095
#EE2E31
 */

/* body {
  background-color: #071E22;
} */

body{
  background-image: url("coffee-beans.jpg");
  background-attachment: fixed;
  background-position: center;
}

.section-title {
  text-align: center;
  padding:10px 0;
}

.section-title h1 {
  font-size: 3.5em;
}
