/* body {
  margin: 4em;
} */

.nametag-frame {
      text-align: center;
}

.nametag {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px; height: 200px;
    background: #071E22;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.5), inset 0 0 20px rgba(0,0,0,.25);
    margin: 20px auto;
}
.nametag div:first-child {
    height: 65px;
    padding-top: 5px;
    color: #fff;
    /* font-family: Helvetica, Arial, sans-serif; */
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
}

.name-part {
    background: #fff;
    height: 120px;
    text-align: center;
    padding-top: 25px;
}
.full-name {
    padding:15px 0px;
    font-size: 2em;
    font-weight: bold;
}

.nametag-top h1, .nametag-top p {
    padding: 0; margin: 0;
}
.nametag-top h1 {
    font-size: 2em;
}
